*{
    box-sizing: border-box;
}
.container{
    background-color: white;
    margin: 15px;
    padding: 20px;
    width: calc(100vw - 250px);
    display: block;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    width: 100%;

}
.products{
    
    flex:70%;
    border: 1px solid black;
}
.packed-info{
    flex:30%;
}
.product-individual{
    width: 100%;    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
}

.product-individual *{
    padding: 10px;

    border-bottom: 1px solid rgb(59, 44, 44);
}

.packed-info {
    width: 100%;
     
    display: flex;
    align-items: center;
    
    flex-direction: column; /* Stack items vertically */
    align-items: space-between; /* Space items vertically */
}

.packed-info button{
    all: unset;
    border-radius: 40px;
    border: 1px solid grey;
    color: grey;
    padding: 10px;
}

.line{
    width: 1px;
    height: 100px;
    background-color: grey;
}
.order-recieved,.order-packed,.order-delivered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-recieved *,.order-recieved button{
    background-color: violet;
    color: white;
    border: violet 1px solid;
}


.order-packed:hover *{
    background-color: rgb(203, 203, 73);
    color: white;
    border: yellow 1px solid;
}
.order-delivered:hover *{
    background-color:green;
    color: white;
    border: green;
}

.address-main{
    display: flex;
    width: 100%;
    
}

.address{
    flex:1;
}
.print-button{
    flex:1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.print-button button{
    padding: 20px;
    border-radius: 2px;
    border-radius: 40%;
    background-color: white;
    color: #000000;
}

.print-button button:hover{
    transition: 0.3s;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.address-main>div:nth-child(2){
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:800px){
    .container{
        width: 100vw;

    }
    .packed-info{
        flex: 100%;
    }
}

@media (max-width:600px) {
    .container>*{
        margin-top: 20px;
    }
    .flex-container{
        flex-direction: column;
    }
    .packed-info{
        margin-top: 30px;
    }
    .address-main{
        flex-direction: column;
    }
    .print-button{
        order: 1;
    }
    .address{
        order: 2;
    }
}


@media print{
    *{
       visibility:hidden;
    }
    .products{
        position: absolute;

        top:0;
    }
    .products *{
        visibility: visible;
    }

    .address *{
        visibility: visible;
    }
    .address{
        position: absolute;
        bottom: 0;
    }
}