.listproduct{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
    
    
}


.old_price{
    text-decoration: line-through;
}
.listproduct-format-main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap:10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    place-items: center;
    font-size: 15px;
    font-weight: 600;

}


.listproduct-format{
    align-items: center;
    font-weight: 500;

}


.listproduct-product-icon{
    max-height: 80px;
}
.listproduct-remove-icon{
    cursor: pointer;
    margin: auto;
    max-width: 25px;
    max-height: 25px;

}

.listproduct-allproducts{
    overflow-y: auto;
}
@media(max-width:800px){
    .list-product{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 10px auto;
    }


    .listproduct-format-main{
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;

    }


    .listproduct-product-icon{
        height: 60px;

    }

    

}


@media (max-width:400px) {
     .headings{
    display: none;
    }
    .listproduct{
        margin:0px;
        margin-top: 10px;
        padding: 15px 15px;
    }
    .listproduct-format-main{
        grid-template-columns: 1fr 1fr 1fr ;
        
    }
   
    
}